// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

$breakpoint-small: 600px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1024px;
$breakpoint-large: 1175px;
@mixin screen($size, $type: max-width, $pixels: $breakpoint-small) {
  @if $size == 'small' {
    @media screen and (max-width: $breakpoint-small) {
        @content;
    }
  }
  @else if $size == 'med-small' {
    @media screen and (max-width: $breakpoint-med-small) {
        @content;
    }
  }
  @else if $size == 'med' {
    @media screen and (max-width: $breakpoint-med) {
        @content;
    }
  }
 @else if $size == 'large' {
    @media screen and (min-width: $breakpoint-large) {
        @content;
    }
  }
  @else if $size == 'custom' {
    @media screen and ($type: $breakpoint-large) {
        @content;
    }
  }
  @else {
    @content;
  }
}

@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}