// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.homeTeaser__button {

text-decoration: none;
border-style: solid;
border-width: 4px;
padding: 18px 36px 18px 36px;

    &--primary {
        color:$white-color;
        
    }
}

.card__button {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    padding: 14px 36px 14px 36px;
}

.offers-button--primary {
    @extend .card__button;
    background-color: $white-color;
    color:$light-blue;
}

.card__button__buy-now--primary {
    @extend .offers-button--primary;
    
    border-radius: 21px;
}

.primary__button {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    padding: 18px 36px 18px 36px;
}

.shop-now__button--primary {
    @extend .primary__button;
    background-color: $light-blue;
    color:$white-color;

    &.shop-now__button--hover--primary-blue {
        @include on-event {
            color: $light-blue;
          }
    }
}

button {
    padding: 18px 36px 18px 36px;
    &.userForm__submit {
        background-color: $light-blue;
        color:$white-color;
    }
  }
