/*
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px;
*/

/*
display: flex;
    justify-content: center;
    align-items: center;  card content\


        position: absolute;  card__content__link


            position: absolute;  mob
    bottom: 160px;
        bottom: -555px;
*/

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px;


    &.products {
        margin-top:80px;

        .card__content {
            position:relative;
        }
        .card__content__link {
            position: absolute;
            left: calc(50% - 85px);
            bottom: calc(30% - 100px);
        }
    }

    &.founders {
        margin:15px 0px;
        padding: 10px 0px;
    }
}

.card__content__link {
    display: flex;
    justify-content: center;
}