.form-container {
    //width:;
    form {
        @include screen(med-small) {
            justify-content: center;
        }
    }
    
}
.contact-us-main {
    .section-heading {
        @include screen(med-small) {
            text-align: center;
        }
    }
}

form {
    display: flex;
    gap:25px;
    flex-wrap: wrap;

    @include screen(med-small) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    input[type=text], [type=email]{
        @include screen(med-small) {
            width:200px;
        }
        @include screen(custom, min-width, 1024px) {
            width:400px;
        }
       
        @include on-event {
            border-bottom: none;
            outline: $light-blue ridge 1px; 
          }
    }

    textarea {
        @include on-event {
            border: 2px solid $light-blue;
          }
          border-bottom: 1px solid rgb(0,0,0);
    }

    .error {
        border-bottom: 2px solid $error-highlight-color;
    }
}

.userForm__field {
    flex:0;  
    display:flex;
    flex-direction:column;
    &.message {
        flex:0;
        @include screen(med-small) {
            width:60%;
        }
    }
}

.userForm__submit__container {
    @include screen(med-small) {
        margin:16px;
        display: flex;
        justify-content: center;
    }
    margin:24px;
}