.offers {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 10px;
    //justify-content: center;
    gap:20px;

    .card:first-child {
        justify-content: center;
    display: flex;
    flex-grow: 2;
    background-color: $black-color;
    }
    .card:last-child {
        justify-content: center;
    display: flex;
    flex-grow: 0;
    @media only screen and (max-width: 960px) and (min-width: 600px)  {
        flex-grow: 1;
    }
    @include screen(small) {
        flex-grow: 1;
    }
    background-color: $black-color;
    }

    .card__content {
        padding: 120px 90px;
        @include screen(small) {
            padding: 60px 20px;
        }
        text-align: center;
    }
    .card__description {
        width: 400px;
        @include screen(small) {
            width: 300px;
        }
        margin-bottom: 32px;
    }
}